{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main">
{% for article in articles %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">{{ article.title }}</h1>
      <p>{{ article.content }}</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
      <div class="row">
          {% for obj in article.phones %}
              <div class="col-md-4">
                <h2>{{ obj.name }}</h2>

                <a href="{{ obj.link }}">
                  <img src="{% static obj.staticpath %}" width="180">
                </a>

                <form action="/cart/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="phone_id" value="{{ obj.phone_id }}">
                  <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
              </div>
          {% endfor %}
      </div>
  </div> <!-- /container -->
{% endfor %}

</main>
{% endblock %}